| 我們將會從基礎 C++ 語法開始帶起，慢慢進入到演算法的世界。
br
| 其中包括：
ul.two-columns
  each data in algorithm.list
    li= data
| 透過一天 8 小時的充足課程以及隔周的練習時間，目標是在課程結束後能在 
a(
  href="https://apcs.csie.ntnu.edu.tw/"
  target="_blank"
  rel="noopener noreferrer"
) APCS
u
|  檢定上獲得觀念至少 4 級分、實作至少 3 級分，我們也推薦學員參與 
a(
  href="https://contest.cc.ntu.edu.tw"
  target="_blank"
  rel="noopener noreferrer"
) NPSC
u
| ，並將目標設定為進入決賽。
br

