.columns.is-variable.is-2
  .column.p-4.has-background-success
    h4.title.is-4.has-text-white.has-text-centered 初階班
    .box.py-2
      h5.subtitle.is-5.has-text-black.has-text-centered 上學期
      ul.ml-5
        each topic in courses.algorithm.beginner[0].topics
          li= topic.name
            ul
              each subtopic in topic.subtopics  
                li= subtopic
  .column.p-4.has-background-link-light
    .box.py-2
      h5.subtitle.is-5.has-text-black.has-text-centered 下學期/上學期
      ul.ml-5
        each topic in courses.algorithm.middle[0].topics
          li= topic.name
            ul
              each subtopic in topic.subtopics
                li= subtopic
  .column.p-4.has-background-info
    h4.title.is-4.has-text-white.has-text-centered 進階班 
    .box.py-2
      h5.subtitle.is-5.has-text-black.has-text-centered 下學期
      ul.ml-5
        each topic in courses.algorithm.advanced[0].topics
          li= topic.name
            ul
              each subtopic in topic.subtopics
                li= subtopic
                
.has-text-centered.mt-5
  | 初階班目標：零程式基礎 -> 
  a(href="https://apcs.csie.ntnu.edu.tw/" target="_blank" rel="noopener noreferrer")
    u APCS 
  | 觀念 3/實作 3 級分以上
  br
  br
  | 進階班目標：有 C++ 語法基礎 -> 
  a(href="https://apcs.csie.ntnu.edu.tw/" target="_blank" rel="noopener noreferrer")
    u APCS 
  | 觀念 4/實作 4 級分以上
  br
  | 並能在各大程式競賽中獲獎。

