.columns
  .column.p-4(style="background-color: #48c774;")
    h4.title.is-4.has-text-white.has-text-centered 初階班
    each semester in courses.algorithm.beginner
      .box
        h5.subtitle.is-5.has-text-black.has-text-centered #{semester.name}
        ul
          each topic in semester.topics
            li
              h6.subtitle.is-6.has-text-black #{topic.name}
              ul
                each subtopic in topic.subtopics
                  li= subtopic
  .column.p-4(style="background-color: #D1E7FF;")
    h4.title.is-4.has-text-centered(style="color: #D1E7FF; border-top: 2px dashed #48c774; border-bottom: 2px dashed #48c774; border-left: 2px dashed #3298dc; border-right: 2px dashed #48c774;") 重複段
    each semester in courses.algorithm.middle
      .box
        h5.subtitle.is-5.has-text-black.has-text-centered #{semester.name}
        ul
          each topic in semester.topicsˇ
            li
              h6.subtitle.is-6.has-text-black #{topic.name}
              ul
                each subtopic in topic.subtopics
                  li= subtopic
  .column.p-4(style="background-color: #3298dc;")
    h4.title.is-4.has-text-white.has-text-centered 進階班
    each semester in courses.algorithm.advanced
      .box
        h5.subtitle.is-5.has-text-black.has-text-centered #{semester.name}
        ul
          each topic in semester.topics
            li
              h6.subtitle.is-6.has-text-black #{topic.name}
              ul
                each subtopic in topic.subtopics
                  li= subtopic

.has-text-centered
  | 初階班目標：零程式基礎 -> 
  a(href="https://apcs.csie.ntnu.edu.tw/" target="_blank" rel="noopener noreferrer")
    u APCS 
  | 觀念 3/實作 3 級分以上
  br
  br
  | 進階班目標：有 C++ 語法基礎 -> 
  a(href="https://apcs.csie.ntnu.edu.tw/" target="_blank" rel="noopener noreferrer")
    u APCS 
  | 觀念 4/實作 4 級分以上
  br
  | 並能在各大程式競賽中獲獎.

