| SCIST 的資訊安全課程包含五大經典主題：
- var tmp2 = ['PWN', '密碼學', '逆向工程', '網頁安全', '數位鑑識']
ul.two-columns
  each data in security.list
    li= data
| 期望在為期一年的課程中培養學員基本的資安技術能力，鼓勵學員積極參與 
a(
  href="https://ais3.org/mfctf/"
  target="_blank"
  rel="noopener noreferrer"
) MyFirstCTF
u
|  爭取名次，並以錄取 
a(
  href="https://ais3.org/"
  target="_blank"
  rel="noopener noreferrer"
) AIS3
u
|  為目標。
br
| SCIST 將於 MyFirstCTF 前一週舉辦資安競賽，讓學員實際體驗賽中競速的刺激感和解題的樂趣，並檢驗學習成果。

