section#calendar.section
    .container
        h2.title.has-text-centered #{calendar.title}
        .columns.is-multiline.is-centered
            each event in calendar.events
                .column.is-one-third
                    .card
                        .card-content
                            .content
                                h4= event.name
                                p 日期: #{event.date}
                                p 地點: #{event.location}
                                a.button.is-link(href=event.url target="_blank") 活動網站
