- const { all_clubs, cities_config, social_config } = clubs

section#clubs.hero.is-warning.is-medium.is-bold
  .hero-body
    h2.title.has-text-centered #{clubs.title}
    .columns.is-multiline
      each city in cities_config
        .column.is-one-third-desktop
          .box(data-aos=city.animation)
            h3.title.has-text-centered= city.name
            each club in all_clubs[city.abbr]
              .media
                figure.media-left
                  p.image.is-64x64
                    img(src=`static/images/clubs/${club.image}`)
                .media-content
                  .content
                    p
                      | #{`${club.school}${club.name ? '\u00a0\u2223\u00a0' + club.name : ''}`}
                      br
                      | #{club.abbr}
                      br
                    nav.is-mobile
                      .buttons.are-small
                        each social in social_config
                          if club.social[social.name]
                            a.button.is-light(
                              href=`${social.prefix || ''}${club.social[social.name]}`
                              target="_blank"
                              rel="noopener noreferrer"
                              class=social.color
                            )
                              span.icon
                                i.fa-lg(class=social.icon)
                              if social.name == 'site'
                                span 官網
                              else if social.name == 'fb'
                                span= club.social[social.name]
                              else if social.name == 'ig'
                                span @#{club.social[social.name]}
