- const { all_clubs, cities_config, social_config } = clubs
- const ig = social_config.filter(s => s.name === 'ig');
- const others = social_config.filter(s => s.name !== 'ig');


section#clubs.hero.is-warning.is-medium.is-bold
  .hero-body
    h2.title.has-text-centered #{clubs.title}
    .columns.is-multiline
      each city in cities_config
        .column.is-one-third-desktop
          .box(data-aos=city.animation)
            h3.title.has-text-centered= city.name
            each club in all_clubs[city.abbr]
              .media
                figure.media-left
                  p.image
                    img(
                      src=`static/images/clubs/${club.image}`
                      alt=club.school
                    )
                .media-content
                  .content
                    p
                      | #{`${club.school}${club.name ? '｜' + club.name : ''}`}
                      | #{club.abbr}
                      br
                    nav.is-mobile
                      .buttons.are-small
                        each social in ig.concat(others)
                          if club.social[social.name]
                            a.button.is-light(
                              href=`${social.prefix || ''}${social.name === 'fb' ? club.social[social.name][0] : club.social[social.name]}`
                              target="_blank"
                              rel="noopener noreferrer"
                              class=social.color
                            )
                              span.icon
                                i.fa-lg(class=social.icon)
                              if social.name === 'site'
                                span 官網
                              else if social.name === 'fb'
                                span= club.social[social.name][1]
                              else if social.name === 'ig'
                                span @#{club.social[social.name]}
