- const { algorithm, security } = courses

section#courses.hero.is-info.is-medium.is-bold
  .hero-body
    h2.title.has-text-centered #{courses.title}
    .columns.is-vcentered
      .column.is-half
        .section.box(data-aos="fade-right")
          h3.title.has-text-black.has-text-centered #{algorithm.title} 
          .content
            include ../../templates/algorithm.pug
      .column.is-half
        .section.justify-center
          figure#algorithm-image.image
            each svg in algorithm.svg
              img.animation.is-hidden(src=`static/images/courses/${svg}`)
    .columns.reverse-column-order.is-vcentered
      .column.is-half
        .section.justify-center
          figure#security-image.image
            each svg in security.svg
              img.animation.is-hidden(src=`static/images/courses/${svg}`)
      .column.is-half
        .section.box(data-aos="fade-left")
          h3.title.has-text-black.has-text-centered #{security.title}
          .content
            include ../../templates/security.pug
