- const { coorganizers, sponsors } = credit

section#credit.hero.is-medium.is-white.is-bold
  .hero-body
    h2.title.has-text-centered #{coorganizers.title}
    .container.is-flex.justify-center.has-text-centered
      each org in coorganizers.pics
        figure.image(data-aos="fade-up")
          img.org(
            src=`static/images/coorganizers/${org.image}.png`
            alt=org.name
          )
          figcaption= org.name

  hr.divider

  .hero-body
    h2.title.has-text-centered #{sponsors.title}
    .container.is-flex.justify-center.has-text-centered
      each org in sponsors.pics
        figure.image(data-aos="fade-up")
          img.org(
            src=`static/images/sponsors/${org.image}.png`
            alt=org.name
          )
          figcaption= org.name

