section.hero.is-primary.is-medium
  .hero-body
    .contaner.has-text-centered
      h3.title #{link.title}
      h4.subtitle #{link.subtitle}
      a.button.is-medium.is-light.is-info.pulsing(
        href="https://fb.me/scist.org"
        target="_blank"
        rel="noopener noreferrer"
      )
        span.icon
          i.fab.fa-facebook
        span SCIST

