section#contact-info.link.hero.is-primary.is-medium.is-bold
  .hero-body
    .contaner.has-text-centered
      h3.title #{link.title}
      h4.subtitle #{link.subtitle}
      a.button.is-medium.is-light.is-info.pulsing(
        href="https://fb.me/scist.tw"
        target="_blank"
        rel="noopener noreferrer"
      )
        span.icon
          i.fab.fa-facebook
        span Facebook
      a.button.is-medium.is-light.is-info.pulsing(
        href="https://instagram.com/scist.tw"
        target="_blank"
        rel="noopener noreferrer"
      )
        span.icon
          i.fab.fa-instagram
        span Instagram

